body {
  font-family: Lucida Grande, Tahoma, Verdana, Arial, sans-serif;
  font-size: 13px;
  text-align: left;
}
#container {
  background: white;
}
#header {
  font-weight: normal;
  text-align: center;
}
#content {
  background: white;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#sidebar {
  display: none;
}
#footer {
  clear: both;
  text-align: center;
  font-size: 11px;
  padding: 8px;
  color: gray;
}
#footer a {
  color: gray;
}
a:link {
  text-decoration: underline;
  color: black;
}
a:visited {
  color: #404040;
}

#blogName {
  font-size: 44px;
  padding-top: 8px;
}
#blogDescription {
  font-size: 16px;
  padding-top: 8px;
  padding-bottom: 16px;
  font-weight: normal;
  border-bottom: gray solid 1px;
}
h1 {
  font-size: 24px;
  font-weight: normal;
  color : #6e7d8e;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 0px;
  margin: 0px;
}
h1 a:link, h1 a:visited {
  color : #6e7d8e;
  text-decoration: none;
}
h1 a:hover {
  text-decoration: underline;
}
h2 {
  font-size: 12px;
  font-weight: normal;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 0px;
  color: #6e7d8e;
  margin: 0px;
}
h3 {
  font-size: 12px;
  font-weight: normal;
  padding: 4px;
  color: #6e7d8e;
  margin: 0px;
}
.contentItem {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 8px;
}
.contentItemBody {
  line-height: 1.5;
  padding-top: 8px;
  padding-bottom: 8px;
  background: white;
  padding-left: 0px;
  padding-right: 0px;
  text-align: justify;
}
.contentItemLinks {
  display: none;
}
.contentItemLinks a {
  color: gray;
}
.even {
  background: #F4F4F4;
}
.odd {
  background: white;
}
.small {
  font-size: 11px;
}
.response {
  padding: 8px;
}
.response h1 {
  font-size: 12px;
  font-weight: normal;
  background: transparent;
  padding-left: 0px;
}
.responseBody {
  line-height: 1.5;
  padding-top: 8px;
  padding-bottom: 8px;
}
.metadata, .metadata a {
  font-size: 11px;
  color: gray;
  line-height: 1.5em;
}
.approved {
}
.pending {
  border: solid #FF9900 1px;
}
.rejected {
  border: solid red 1px;
}
.published {
}
.unpublished {
}
blockquote {
  border-left: solid #E0E0E0 4px;
  padding-left: 8px;
  color: gray;
}
.tags, .categories {
  border: solid #F0F0F0 1px;
  margin: 16px;
  padding: 4px;
  background: #F8F8F8;
  font-weight: normal;
  font-size: 11px;
}
.tags a, .categories a {
  color : gray;
  font-weight: normal;
}
.tagCloud {
  font-size: 20px;
  line-height: 1.0em;
  text-align: justify;
}
.sidebarTagCloud {
  font-size: 18px;
  line-height: 0.8em;
  text-align: justify;
}
.tagCloud1 {
  font-size: 0.5em;
}
.tagCloud2 {
  font-size: 0.6em;
  font-weight: bold;
}
.tagCloud3 {
  font-size: 0.65em;
  font-weight: bold;
}
.tagCloud4 {
  font-size: 0.7em;
  font-weight: bold;
}
.tagCloud5 {
  font-size: 0.75em;
  font-weight: bold;
}
.tagCloud6 {
  font-size: 0.8em;
  font-weight: bold;
}
.tagCloud7 {
  font-size: 0.85em;
  font-weight: bold;
}
.tagCloud8 {
  font-size: 0.9em;
  font-weight: bold;
}
.tagCloud9 {
  font-size: 1.0em;
  font-weight: bold;
}
.tagCloud10 {
  font-size: 1.2em;
  font-weight: bold;
}
.tagCloud ul, .sidebarTagCloud ul {
  padding: 8px;
  margin: 0px;
}
.tagCloud li, .sidebarTagCloud li {
  display: inline;
  margin: 0px;
  padding: 0px;
  white-space: nowrap;
}
.tagCloud a, .sidebarTagCloud a {
  text-decoration: none;
}
.tagCloud a:hover, .sidebarTagCloud a:hover {
  color: white;
  background: #6e7d8e;
}
.photo {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  border: solid black 1px;
  text-align: center;
}
.codeSample {
  font-family: Courier, sans-serif;
  font-size: 11px;
  border: solid #F0F0F0 1px;
  text-align: left;
  background: #F8F8F8;
  margin-left: 8px;
  margin-right: 8px;
  padding: 8px;
  overflow: auto;
}
#linearNavigation {
  display: none;
}
#feeds {
  display: none;
}
thead {
  text-align: left;
  background: #6e7d8e;
  color: white;
}
th {
  font-weight: normal;
}