<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

  <bean id="pebbleConfiguration" class="net.sourceforge.pebble.Configuration">

    <!-- the location where your Pebble data is stored, default is ${user.home}/pebble -->
    <property name="dataDirectory" value="${user.home}/pebble"/>

    <!-- the URL where your blog is hosted, default is auto-discover at runtime -->
    <property name="url" value=""/>

  </bean>

</beans>
