body {
  font-family: Trebuchet MS, Lucida Grande, Tahoma, Verdana, Arial, sans-serif;
  font-size: 13px;
  background: white;
  color : black;
  text-align: left;
  margin: 0px 16px 16px 16px;
}
a {
  color: black;
  text-decoration: underline;
}
a:visited {
  color: #404040;
}

#body {
}
#header {
  background: #6e7d8e;
  color: black;
  font-weight: normal;
  height: 120px;
  text-align: left;
  margin-top: 16px;
}
#content {
  background: white;
  margin-left: 0px;
  padding-top: 16px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 0px;
  margin-right: 260px;
}
#sidebar {
  text-align: center;
  background: white;
  margin-left: 16px;
  margin-right: 0px;
  float: right;
  width: 220px;
  padding-left: 8px;
  padding-top: 16px;
  padding-right: 0px;
  padding-bottom: 32px;
  margin-top: 0px;
  font-size: 11px;
}
#footer {
  border-top: white solid 1px;
  background: white;
  clear: both;
  text-align: center;
  font-size: 11px;
  padding: 8px;
  color: gray;
}
#footer a {
  color: gray;
}
.sidebarItem {
  background: white;
  border-bottom: #f0f0f0 solid 1px;
  border-top: #f0f0f0 solid 1px;
  border-left: #f0f0f0 solid 1px;
  border-right: #f0f0f0 solid 1px;
  margin-bottom: 16px;
}
.sidebarItemTitle {
  text-align: left;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
  background: #6e7d8e;
  color: white;
  padding-left: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.sidebarItemTitle span a {
  color: white;
}
.sidebarItemBody {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
}
.sidebarItem ul {
  margin: 0px;
  padding-left: 8px;
  padding-right: 8px;
}
.sidebarItem li {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  list-style-type: none;
}

#blogName {
  font-size: 40px;
  color: white;
  padding-top: 16px;
  padding-left: 16px;
  font-weight: normal;
}
#blogDescription {
  font-size: 16px;
  color: white;
  padding-top: 0px;
  padding-left: 18px;
  padding-bottom: 16px;
  font-weight: normal;
}
h1 {
  font-size: 24px;
  font-weight: normal;
  color : #6e7d8e;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 0px;
  padding-left: 0px;
  margin: 0px;
}
h1 a:link, h1 a:visited {
  color : #6e7d8e;
  text-decoration: none;
}
h1 a:hover {
  text-decoration: underline;
}
h2 {
  font-size: 12px;
  font-weight: normal;
  padding-top: 0px;
  color: #6e7d8e;
  margin: 0px;
}
h3 {
  font-size: 12px;
  font-weight: normal;
  padding-top: 4px;
  color: #6e7d8e;
  margin: 0px;
}
.contentItem {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 0px;
  margin-bottom: 8px;
  background: white;
  border-bottom: #f0f0f0 solid 1px;
  border-top: #f0f0f0 solid 1px;
  border-left: #f0f0f0 solid 1px;
  border-right: #f0f0f0 solid 1px;
}
.contentItemBody {
  line-height: 1.5;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: left;
}
.contentItemLinks {
  float: right;
  text-align: right;
  font-size: 11px;
  color: gray;
}
.contentItemLinks form {
  padding: 0px;
  margin: 0px;
}
.contentItemLinks a {
  color: gray;
}
.even {
  background: #F4F4F4;
}
.odd {
  background: white;
}
.small {
  font-size: 11px;
}
.response {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 30px;
  padding-right: 16px;
  margin-bottom: 4px;
}
.response h1 {
  font-size: 12px;
  font-weight: normal;
  background: transparent;
  padding-left: 0px;
}
.responseBody {
  line-height: 1.5;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
}
.metadata, .metadata a {
  font-size: 11px;
  color: gray;
  line-height: 1.5em;
  padding-top: 0px;
}
.approved {
}
.pending {
  background: transparent url('images/pending.gif') no-repeat top left;
  border: solid orange 1px;
}
.rejected {
  background: transparent url('images/rejected.gif') no-repeat top left;
  border: solid red 1px;
}
.published {
}
.unpublished {
  background: white url('images/draft.gif') no-repeat top left;
}
blockquote {
  border-left: solid #E0E0E0 4px;
  padding-left: 8px;
  color: gray;
}
.tags, .categories {
  border: solid #F0F0F0 1px;
  margin: 16px;
  padding: 4px;
  background: #F8F8F8;
  font-weight: normal;
  font-size: 11px;
}
.tags a, .categories a {
  color : gray;
  font-weight: normal;
}
.tagCloud {
  font-size: 24px;
  line-height: 1.0em;
  text-align: center;
}
.sidebarTagCloud {
  font-size: 22px;
  line-height: 0.7em;
  text-align: center;
}
.tagCloud1 {
  font-size: 0.5em;
}
.tagCloud2 {
  font-size: 0.6em;
  font-weight: bold;
}
.tagCloud3 {
  font-size: 0.65em;
  font-weight: bold;
}
.tagCloud4 {
  font-size: 0.7em;
  font-weight: bold;
}
.tagCloud5 {
  font-size: 0.75em;
  font-weight: bold;
}
.tagCloud6 {
  font-size: 0.8em;
  font-weight: bold;
}
.tagCloud7 {
  font-size: 0.85em;
  font-weight: bold;
}
.tagCloud8 {
  font-size: 0.9em;
  font-weight: bold;
}
.tagCloud9 {
  font-size: 1.0em;
  font-weight: bold;
}
.tagCloud10 {
  font-size: 1.2em;
  font-weight: bold;
}
.tagCloud ul, .sidebarTagCloud ul {
  padding: 8px;
  margin: 0px;
}
.tagCloud li, .sidebarTagCloud li {
  display: inline;
  margin: 0px;
  padding: 0px;
  white-space: nowrap;
}
.tagCloud a, .sidebarTagCloud a {
  text-decoration: none;
}
.tagCloud a:hover, .sidebarTagCloud a:hover {
  color: white;
  background: #6e7d8e;
}

.calendar {
  padding-left: 8px;
  padding-right: 8px;
}
.calendarDayHeader {
  font-weight: bold;
  text-align: right;
}
.calendarDay {
  text-align: right;
  padding: 2px;
}
.calendarDayWithEntries {
  background: gray;
  text-align: right;
  padding: 2px;
}
.calendarDayWithEntries a {
  font-weight: bold;
  color: white;
  text-decoration: none;
}
.calendarDayWithEntries:hover {
  color: white;
  background: #6e7d8e;
}
.calendarToday {
  background : #6e7d8e;
  color: white;
  text-align: right;
  padding: 2px;
  font-weight: bold;
}
.calendarToday a {
  font-weight: bold;
  color: white;
  text-decoration: none;
}
.photo {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  border: solid black 1px;
  text-align: center;
}
.codeSample {
  font-family: Courier, sans-serif;
  font-size: 11px;
  border: solid #F0F0F0 1px;
  text-align: left;
  background: #F8F8F8;
  margin-left: 8px;
  margin-right: 8px;
  padding: 8px;
  overflow: auto;
}
#linearNavigation {
  background: gray;
  border-top: #c0c0c0 solid 1px;
  padding: 4px;
  color: white;
  text-align: center;
}
#linearNavigation a {
  color: white;
  text-decoration: none;
}
#linearNavigation a:hover {
  text-decoration: underline;
}
#feeds {
  position: absolute;
  top: 8px;
  right: 8px;
  color: white;
}
#feeds a {
  color: white;
  text-decoration: none;
}
#feeds a:hover {
  text-decoration: underline;
}
thead {
  text-align: left;
  background: #6e7d8e;
  color: white;
}
th, th a:link, th a:visited {
  font-weight: normal;
  color: white;
}
.authenticated {
  background: transparent url( 'images/authenticated.gif' ) no-repeat center left;
  padding-left: 10px;
}
.unauthenticated {
}
.avatar {
  float: left;
  max-height: 50px;
  max-width: 50px;
  margin-right: 10px;
}

div#comments div.responseLevel1 {
  margin-left:30px;
}
div#comments div.responseLevel2 {
  margin-left:46px;
}
div#comments div.responseLevel3 {
  margin-left:62px;
}
div#comments div.responseLevel4 {
  margin-left:78px;
}
div#comments div.responseLevel5 {
  margin-left:94px;
}
div#comments div.responseLevel6 {
  margin-left:110px;
}
div#comments div.responseLevel7 {
  margin-left:126px;
}
div#comments div.responseLevel8 {
  margin-left:142px;
}
div#comments div.responseLevel9 {
  margin-left:158px;
}
div#comments div.responseLevel10 {
  margin-left:174px;
}


