body {
  font-family: Lucida Grande, Tahoma, Verdana, Arial, sans-serif;
  font-size: 12px;
  text-align: center;
  margin: 0px 0px 0px 0px;
}
a {
  color: #979381;
}
#container {
  background: transparent url(common/images/pebble2.jpg) no-repeat top center;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
h1 {
  height: 179px;
}
h1 span {
  display: none;
}
h3 {
  background: transparent url(common/images/bullet.jpg) no-repeat center left;
  padding-left: 20px;
}

.screenshot {
  margin: 8px 24px;
}
.codeSample {
  font-family: Courier New, Courier, sans-serif;
  text-align: left;
  background: #F8F8F8;
  margin-left: 32px;
  margin-right: 32px;
  padding: 16px;
  overflow: auto;
  font-size : 0.8em;
}
.centeredBlock {
  margin-left: 32px;
  margin-right: 32px;
}

.note {
  color: #979381;
  border-left: solid #979381 4px;
  margin: 8px 32px;
  padding: 0px 8px;
}
