#admin {
  background: black;
  color: white;
  padding: 0px;
  font-size: 11px;
  border: black solid 1px;
}
#admin a {
  color: white;
}
.adminLevel1 {
  background: black;
  padding: 4px;
}
.adminLevel1 span {
  text-decoration: underline;  
  padding-left: 4px;
  padding-right: 4px;
}
.adminLevel1 span:hover {
  background: #606060;
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
.adminLevel2 {
  background: #606060;
  padding: 4px;
}
.inlineAdminLinks {
  background: #f0f0f0;
  border: gray solid 1px;
  padding: 8px;
  color: black;
}
#messages {
  background: white;
  font-size: 11px;
  border-top: black solid 1px;
}
.ERROR {
  background: red;
  color: white;
  padding: 4px;
}
.ERROR a {
  color: white;
}
.WARN {
  background: orange;
  color: white;
  padding: 4px;
}
.WARN a {
  color: white;
}
.INFO {
  background: gray;
  color: white;
  padding: 4px;
}
.INFO a {
  color: white;
}
/* Plugins */
.pluginsBox {
    margin: 0 0 10px 0;
    padding: 0;
    border: 1px solid #CCC;
}
.pluginsBox > li {
    list-style-type: none;
    margin: 0 0 0 0;
    padding: 0 10px;
    border-bottom: 1px dotted #CCC;
    background-color: #F8F8F8;
}
.pluginHeader {
    height: 25px;
    padding-top: 3px;
}
.moveHandle {
    display: inline;
    float: right;
    background: url('common/images/handle.png');
    background-repeat: no-repeat;
    width: 10px;
    margin-top: 5px;
    margin-left: 5px;
    height: 15px;
    cursor: move;
}
.pluginConfigLink {
    padding-top: 2px;
    display: inline;
    float: right;
    text-decoration: underline;
    font-size: 10px;
    cursor:pointer;
}
.pluginConfig {
    font-size: 11px;
}
.pluginConfig > ul {
    margin: 0;
    padding: 0 0 10px 0;
}
.pluginConfig > ul > li {
    margin: 0;
    padding: 5px 0 0 20px;
    list-style-type: none;
}
.pluginPropertyLabel {
    display: block;
    float: left;
    width: 120px;
    padding-right: 10px;
    text-align: right;
}
.pluginPropertyControl {
    display: inline;
}
.singlePluginBox .pluginConfig {
    padding: 10px;
}

/* Companion style */
#companionContainer {
  display:none;
	padding:15px 5px;
	background-color:#ddd;
	border:3px solid #ccc;
	text-align:center;
	width:100%;
}
#companionData {
	width:90%;
	height:200px;
}

#loginPage {
  margin-left: 100px;
}

/* Login - generic*/
#loginOptions {
  padding: 0;
  margin: 0;
}
.loginOption {
  list-style-type: none;
  background-color: #EEE;
  background-repeat: no-repeat;
  cursor: pointer;
}
.loginOption:hover {
  background-color: white;
}
.loginOptionSelected {
  background-color: white;
}
#loginOptionPassword {
  background-image: url("common/images/pebble.png");
}
#loginOptionOpenId {
  background-image: url("common/images/openid.png");
}
#loginOptionGoogle {
  background-image: url("common/images/google.png");
}
.loginError {
  color: red;
  font-weight: bold;
  padding: 0 0 20px 100px;
}

/* Login - Page */
.loginPageForm #loginOptions {
  float: left;
  border-right: 1px solid #888;
  height: 200px;
}
.loginPageForm .loginOption {
  text-align: right;
  width: 100px;
  margin: 5px -1px 5px 0;
  padding: 3px 24px 3px 0;
  background-position: 97% 50%;
  border: 1px solid #888;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.loginPageForm .loginOptionSelected {
  border-right: 1px solid white;
}
.loginPageForm .loginOptionArea {
  margin-left: 140px;
  padding-top: 20px;
}
.loginPageForm .loginOptionArea div {
  padding: 5px 0;
}
.loginPageForm .loginOptionArea label {
  width: 130px;
  float: left;
  padding-right: 10px;
  text-align: right;
}
.loginPageForm .loginOptionArea .loginButtons {
  padding-left: 130px;
}
.loginPageForm .loginUsingGoogle {
  width: 150px;
  padding: 10px;
  margin-left: 50px;
  border: 1px solid #888;
  -moz-border-radius: 8px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
}
.loginUsingGoogle img {
  display: block;
  margin: 5px auto;
}
/* Login - Sidebar */
.loginSideForm #loginOptions {
  border-top: 1px solid #888;
  padding-left: 30px;
}
.loginSideForm .loginOption {
  margin: -1px 2px 2px 2px;
  padding: 0;
  border: 1px solid #888;
  width: 20px;
  height: 20px;
  background-position: 2px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  float: left;
}
.loginSideForm .loginOptionSelected {
  border-top: 1px solid white;  
}
.loginSideForm .loginOptionArea {
  height: 120px;
}
.loginSideForm .loginOptionArea label {
  width: 80px;
  float: left;
  padding-right: 5px;
  text-align: right;
}
.loginSideForm .loginOptionArea .loginButtons {
  padding-left: 80px;
}
.loginSideForm input {
  width: 100px;
}
.loginSideForm .loginOptionArea div {
  padding: 2px 0;
}
.loginSideForm .loginUsingGoogle {
  width: 140px;
  padding: 10px;
  margin: auto;
  border: 1px solid #888;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.excerptTextArea {
  width: 100%;
  height: 20ex;
}
.bodyTextArea {
  width: 100%;
  height: 60ex;
}
.fullWidthText {
  width: 100%;
}