<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

  <bean id="bloggerApiHandler" class="net.sourceforge.pebble.webservice.BloggerAPIHandler">
    <property name="authenticationManager"><ref bean="authenticationManager"/></property>
  </bean>

  <bean id="metaweblogApiHandler" class="net.sourceforge.pebble.webservice.MetaWeblogAPIHandler">
    <property name="authenticationManager"><ref bean="authenticationManager"/></property>
  </bean>

  <bean id="pebbleApiHandler" class="net.sourceforge.pebble.webservice.PebbleAPIHandler">
    <property name="authenticationManager"><ref bean="authenticationManager"/></property>
  </bean>

  <bean id="searchApiHandler" class="net.sourceforge.pebble.webservice.SearchAPIHandler">
    <property name="authenticationManager"><ref bean="authenticationManager"/></property>
  </bean>

</beans>
