#admin {
  background: black;
  color: white;
  padding: 0px;
  border: black solid 1px;
  margin-bottom: 8px;
}
#admin a {
  color: white;
}
.adminLevel1 {
  background: black;
  padding: 4px;
}
.adminLevel1 span {
  text-decoration: underline;  
  padding-left: 4px;
  padding-right: 4px;
}
.adminLevel1 span:hover {
  background: gray;
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
.adminLevel2 {
  background: gray;
  padding: 4px;
}