.adminGroup {
  background: #F0F0F0;
  padding: 2px;
  text-decoration: underline;
}
.adminGroupSelected {
  background: #C0C0C0;
  padding: 2px;
  text-decoration: underline;
}
.adminLinks {
  padding: 4px;
}